<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="UTF-8" />
          <meta
               name="viewport"
               content="width=device-width, initial-scale=1.0"
          />
          <title>Available Houses</title>
          <link
               rel="stylesheet"
               href="https://fonts.googleapis.com/css?family=Open+Sans|Poppins|Goldman&effect=outline|anaglyph|shadow-multiple"
          />
          <link
               rel="stylesheet"
               media="screen and (min-width: 500px)"
               type="text/css"
               href="/css/house.css"
          />
          <link
               rel="stylesheet"
               media="screen and (max-width: 499px)"
               type="text/css"
               href="/css/mhouse.css"
          />
          <link rel="icon" href="icon.png" type="image/png" />
           <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
          <script>
               $(window).on("load", function () {
                    $(".loader-wrapper").fadeOut("slow");
               });
          </script>
     </head>
     <body>
         <div class="loader-wrapper" id="loader-wrapper">
               <span class="loader"><span class="loader-inner"></span></span>
          </div>
          <div class="container">
               <h1 class="font-effect-shadow-multiple">Houses Available</h1>
               <h2>Owner</h2>
               <h3>{{firstName}} {{lastName}}</h3>
               <h2>Email</h2>
               <h3>{{email}}</h3>
               <h2>State</h2>
               <h3>{{state}}</h3>
               <h2>District</h2>
               <h3>{{district}}</h3>
               <h2>Town</h2>
               <h3>{{town}}</h3>
               <h2>Area</h2>
               <h3>{{area}}</h3>
               <h2>Address</h2>
               <h3>{{address}}</h3>
               <h2>House description</h2>
               <h3>{{houseDescription}}</h3>
               <h2>What's app number</h2>
               <h3>{{contactNumber}}</h3>
               <h4>
                    The following shops are available with in the radius of 1 km
               </h4>
               <div class="divide">
                    <div class="column left">
                         <h5>Vegetable market:<span>{{veg}}</span></h5>
                         <h5>Milk booth:<span>{{milk}}</span></h5>
                         <h5>Hospital:<span>{{hospital}}</span></h5>
                         <h5>Bus stand:<span>{{bus}}</span></h5>
                    </div>
                    <div class="column right">
                         <h5>Shopping mall:<span>{{shop}}</span></h5>
                         <h5>Grocery store:<span>{{grocery}}</span></h5>
                         <h5>Cinema hall:<span>{{cinema}}</span></h5>
                         <h5>Railway station:<span>{{rail}}</span></h5>
                    </div>
               </div>
          </div>
     </body>
</html>
